<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>
<body class="container">

    <p>this is listing.html</p>

    <div class="d-flex justify-content-between align-items-center">
        <h1 th:text=" ${user.username} + '\'s To Do List' "></h1>
        <a class="btn btn-secondary" th:href="@{/login/logout}">Logout</a>
    </div>

    <br>

    <div class="d-flex justify-content-between align-items-center">
        <!-- Create New Task Button -->
        <a class="btn btn-primary" th:href="@{/list/create}">Create New Task</a>
        
        <!-- Filter Form -->
        <form method="GET" th:action="@{/list}" class="d-flex align-items-center">
            <label class="mr-2 mb-0">Filter by status: </label>
            <select name="status" onchange="this.form.submit()" class="form-select">
                <option selected disabled>Status</option>
                <option value="">All tasks</option>
                <option value="pending">Pending</option>
                <option value="in progress">In Progress</option>
                <option value="completed">Completed</option>
            </select>
        </form>
    </div>

    <br>

    <div>
        <table class="table table-striped">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Created On</th>
                <th>Last Updated</th>
                <th></th>
            </thead>

            <tbody>
                <tr th:each="task : ${todoList}">
                    <td th:text="${task.id}" class="col-1"></td>
                    <td th:text="${task.name}"></td>
                    <td th:text="${task.description}" class="col-3"></td>
                    <td th:text="${task.dueDate}"></td>
                    <td th:text="${task.priority}"></td>
                    <td th:text="${task.status}" class="col-1"></td>
                    <td th:text="${task.createdOn}"></td>
                    <td th:text="${task.updatedOn}"></td>
                    <td><a class="btn btn-secondary btn-sm my-1" th:href="@{/list/edit/{id}(id=${task.id})}">Edit</a>
                        <a class="btn btn-danger btn-sm my-1" th:href="@{#}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>